--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1
torchvision==0.19.1
tokenizers==0.20.3
numpy<2
opencv-python-headless==4.10.0.84
Pillow
matplotlib
tqdm
streamlit==1.39.0
ultralytics==8.2.58
transformers==4.46.3
huggingface_hub==0.26.2